section#deratisation article.article__row__1 .left__side {
	line-height: 1.25rem;
}
section#deratisation article.article__row__1 .right__side {
	background-image: var(--deratisation__page__row1__img);
}

section#deratisation article.article__row__1 .left__side .left__side__content ul,
section#deratisation article.article__row__1 .left__side .left__side__content .lists ul {
	list-style-image: url('@Images/list_style_image_rat.png');
}
