/* CSS Color Variables */
:root {
	/* Colors */
	--main__color: #000;
	--secondary__color: #fff;
	--tertiary__color: #e5f386;
	--quaternary__color: #f5de81;
	--blue__sky: #00bfff98;
	/* Alerts */
	--danger__color: #ff0000;
	--warning__color: #ffae00;
	--success__color: #00ff00;
	/* Links */
	--active__link: #bf8832;
	/* HTML Element */
	--header__bg: rgba(255, 255, 255, 0.73);
	/* Background Images */
	--bees__nest__bg: url('@Images/header-bg.jpg');
	--pest__controller__bg: url('@Images/pest_control_in_action.jpg');
	--third__article__bg: url('@Images/red_wasp.jpg');
	--fourth__article__bg: url('@Images/home_page_last_element.jpg');
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Sawarabi Gothic', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
	min-height: 100vh;
}
