section#home {
	min-height: 90vh;
	width: 100%;
}

section#home a {
	color: var(--main__color);
}
section#home a:hover {
	color: var(--active__link);
}

section#home article {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 2rem;
}

section#home article > div {
	width: 50%;
	height: 30rem;
	max-width: 50%;
	max-height: 30rem;
	padding: 0 1rem;
}

section#home article.article__row__1 {
	min-height: 45rem;
	margin-top: 0;
	background-image: linear-gradient(#46d0fd98, #ffffff98);
}

section#home article.article__row__2 {
	background-image: var(--bees__nest__bg);
	color: var(--secondary__color);
}
section#home article.article__row__2 .left__side {
	background-image: var(--pest__controller__bg);
	background-size: cover;
	background-position: center;
}
section#home article.article__row__2 .right__side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 1rem;
}
section#home article.article__row__2 .right__side h3 {
	font-family: 'Sawarabi Gothic';
	color: var(--tertiary__color);
	font-size: 2rem;
}
section#home article.article__row__2 .right__side a {
	color: var(--secondary__color);
}
section#home article.article__row__2 .right__side ul {
	list-style-image: url('@Images/list_style_image.png');
}
section#home article.article__row__2 .right__side ul li {
	margin: 0.5rem 0;
}

section#home article.article__row__3 {
	background-image: url('@Images/header-yellow-bg.jpg');
	color: var(--primary);
	max-height: 30rem;
	margin: 0;
}
section#home article.article__row__3 .right__side {
	background-image: var(--third__article__bg);
	background-size: cover;
	background-position: center;
}
section#home article.article__row__3 .left__side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0 1rem;
	font-size: 1rem;
	line-height: 1.25rem;
}
section#home article.article__row__3 .left__side img {
	max-width: 80%;
}
