section.page__template article.article__row__1 .left__side {
	/* justify-content: center; */
	margin: auto;
}
section#piegeage article.article__row__1 .left__side {
	line-height: 1.25rem;
}
section#piegeage article.article__row__1 .left__side .left__side__content a {
	color: var(--active__link);
}
section#piegeage article.article__row__1 .right__side {
	background-image: var(--piegeage__page__row1__img);
}
