#mentions-legales {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem;
}

#rubric_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#content_pages {
	margin-top: 20px;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#mentions_legales_hebergeur,
#mentions_legales_client {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	max-width: 49%;
}

.col-sm-4 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-sm-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

#infoclient,
#hebergeur {
	margin-top: 10px;
	margin-bottom: 10px;
}

#infoclient strong,
#hebergeur strong {
	font-weight: bold;
}

#infoclient abbr,
#hebergeur abbr {
	text-decoration: none;
	border-bottom: none;
}

#credits ul {
	padding-left: 0;
}

#credits li {
	list-style-type: none;
}

#texte_mentions_legales {
	margin-top: 20px;
	width: 100%;
}

.right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.puce {
	text-align: left;
	list-style-type: disc;
	padding-left: 20px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
