.navbar {
	background-image: url('~/src/utils/assets/images/header-bg.jpg');
	/* background-color: var(--header__bg); */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	/* position: absolute; */
	top: 0;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 10px var(--tertiary__color);
}

.navbar .navbar__container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 140px;
}

.navbar .navbar__container .hamburger__menu__icon {
	display: none;
}

.navbar .navbar__container .navbar__logo {
	display: flex;
	align-items: center;
	max-width: 300px;
	transform: translateZ(0);
	transition: all 0.4s ease-in-out;
}

.navbar .navbar__container .navbar__logo img {
	height: auto;
	max-width: 100%;
	margin-right: 10px;
}

.navbar .navbar__container .nav__menu {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .navbar__container .nav__menu li {
	display: inline-block;
	font-size: 14px;
	padding-right: 22px;
	word-wrap: break-word;
	position: relative;
	line-height: 1em;
}

.navbar .navbar__container .nav__menu li a {
	font-weight: bold;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
}

.navbar .navbar__container .nav__menu li a.active {
	color: var(--active__link);
}

.navbar .navbar__container .nav__menu li:hover {
	filter: blur(10px);
	filter: drop-shadow(0 0 0.75rem var(--active__link));
	transition: all 0.3s ease-in-out;
}

.nav__links {
	color: var(--tertiary__color);
	text-decoration: none;
	font-weight: 600;
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}

.nav__links:hover,
a:hover {
	color: var(--secondary__color);
	transition: all 0.75s ease-in-out;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	html body div#root div.App nav.navbar.active {
		height: 100vh;
		animation: menuFromTopToBottom 0.4s ease-in-out;
	}

	html body div#root div.App nav.navbar div.navbar__container.active {
		height: 100%;
	}

	html body div#root div.App nav.navbar div.navbar__container ul.nav__menu {
		display: none;
		flex-direction: column;
	}
	html body div#root div.App nav.navbar div.navbar__container ul.nav__menu.active {
		display: flex;
		height: 80%;
		width: 80%;
		margin: 0;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem;
		transition: all 0.4s ease-in-out;
	}

	.navbar .navbar__container .hamburger__menu__icon {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		margin: 1rem;
		font-size: 1.5rem;
		color: var(--secondary__color);
	}

	.navbar .navbar__container .navbar__logo {
		max-width: 200px;
	}

	.navbar .navbar__container .navbar__logo img {
		margin-top: 1rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar .navbar__container .hamburger__menu__icon {
		display: none;
	}

	.navbar .navbar__container .navbar__logo {
		max-width: 300px;
	}

	.navbar .navbar__container .navbar__logo img {
		margin-top: 1rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
	...;
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
	...;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
	...;
} */

/*
|-------------------------------------
| Animations
|-------------------------------------
*/

@keyframes menuFromTopToBottom {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
