section#not-found {
	background-image: var(--404__bg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

section#not-found .not__found__content {
	background-color: rgba(0, 0, 0, 0.73);
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.73);
}

section#not-found .not__found__content h1 {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: top;
	font-size: 4rem;
	color: var(--secondary__color);
}
section#not-found .not__found__content h1 .vertical__text {
	display: flex;
	flex-direction: column;
	margin: 0 1rem;
}
section#not-found .not__found__content h1 .vertical__text h1 {
	margin: 0;
	margin-top: 1rem;
}
section#not-found .not__found__content h1 .vertical__text span {
	font-size: 2rem;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
section#not-found .not__found__content h2 {
	font-size: 2rem;
	color: var(--secondary__color);
}
section#not-found .not__found__content h3 {
	font-size: 1.5rem;
	color: var(--secondary__color);
}

section#not-found button {
	background-color: var(--quaternary__color);
	color: var(--main__color);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	bottom: 5rem;
	transition: all 0.3s ease-in-out;
}
section#not-found button a {
	text-decoration: none;
	color: var(--main__color);
}
section#not-found button:hover {
	background-color: var(--active__link);
	box-shadow: 0 0 1rem 0.5rem var(--active__link);
	transform: scale(1.1);
}
section#not-found button:hover > a,
section#not-found button a:hover {
	border: none;
	color: var(--secondary__color);
}

/*
|--------------------------------------
| Responsive
|--------------------------------------
*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	section#not-found .not__found__content {
		padding: 0.5rem;
	}
	section#not-found .not__found__content h1 {
		font-size: 2rem;
	}

	section#not-found .not__found__content h1 .vertical__text span {
		font-size: 1rem;
	}

	section#not-found .not__found__content h2 {
		font-size: 1rem;
	}

	section#not-found .not__found__content h3 {
		font-size: 0.75rem;
	}
	section#not-found .not__found__content h1 .vertical__text span {
		display: flex;
		align-items: center;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
	section#not-found .not__found__content {
		padding: 1rem;
	}
	section#not-found .not__found__content h1 {
		font-size: 2.5rem;
	}

	section#not-found .not__found__content h1 .vertical__text span {
		font-size: 1.5rem;
	}

	section#not-found .not__found__content h2 {
		font-size: 1.5rem;
	}

	section#not-found .not__found__content h3 {
		font-size: 1rem;
	}
	section#not-found .not__found__content h1 .vertical__text span {
		display: flex;
		align-items: center;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1660px) {
}
