form {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
form .form__group,
form .form__group input {
	width: 75%;
}
form .form__group input {
	border: 1px solid var(--main__color);
	border-radius: 0.25rem;
	padding: 0.25rem;
	margin: 0;
	height: 1.5rem;
}
form .form__group textarea {
	border: 1px solid var(--main__color);
	border-radius: 0.25rem;
	padding: 0.25rem;
	margin: 0;
}
form .form__group input:focus,
form .form__group textarea:focus {
	border: 1px solid var(--active__link);
	outline: 1px solid var(--active__link);
	box-shadow: 0 0 0.5rem var(--active__link);
}

form .wrap__rgpd {
	display: flex;
	align-items: flex-start;
}

form .wrap__rgpd a.legals__link {
	color: var(--secondary__color);
}
form .wrap__rgpd a.legals__link:hover {
	color: var(--active__link);
}
form .wrap__rgpd p {
	margin: 0;
	color: var(--secondary__color);
}

form .form__group .submit__button {
	width: 50%;
	height: 2rem;
	border: 1px solid var(--active__link);
	border-radius: 0.25rem;
	background-color: var(--active__link);
	color: var(--secondary__color);
	font-weight: bold;
	transition: all 0.35s ease-in-out;
}
form .form__group .submit__button:hover {
	background-color: filter(var(--active__link), brightness(0.2));
	color: var(--active__link);
	box-shadow: 0 0 0.5rem var(--active__link);
	cursor: pointer;
}

form .form__group .submit__button:disabled {
	filter: contrast(0.5);
	background-color: var(--main__color);
	color: var(--secondary__color);
	border: 1px solid var(--main__color);
	cursor: not-allowed;
}
form .form__group .submit__button:disabled:hover {
	box-shadow: 0 0 0.5rem var(--danger__color);
}
